body {
  background-color: rgba(90, 125, 146, 0.724);
}
h1 {
  text-align: center;
}
img {
  width: 80px;
  height: 80px;
  border-radius: 40px 40px;
}
.a,
.b,
.c,
.d {
  height: 300px;
  width: 200px;
  background-color: rgba(72, 107, 167, 0.534);
  border: 2px solid black;
  border-radius: 10px;
  float: right;
  margin-right: 80px;
}
.a {
  margin-top: 52px;
}
.b {
  margin-top: 35px;
}
.c {
  margin-top: 17px;
}

div:hover {
  background-color: rgb(178, 97, 209);
}
.bar {
  width: 150px;
  height: 5px;
  background-color: black;
  border-radius: 2px;
  border: 1px solid black;
  margin-left: 15px;
}
.fill {
  width: 30px;
  height: 5px;
  background-color: blueviolet;
  border-radius: 2px;
  margin-right: 120px;
}
.fill11 {
  width: 100px;
  height: 5px;
  background-color: blueviolet;
  border-radius: 2px;
  margin-right: 120px;
}
.fill12 {
  width: 50px;
  height: 5px;
  background-color: blueviolet;
  border-radius: 2px;
  margin-right: 130px;
}
.fill01 {
  width: 40px;
  height: 5px;
  background-color: blueviolet;
  border-radius: 2px;
  margin-right: 120px;
}
.fill21 {
  width: 70px;
  height: 5px;
  background-color: blueviolet;
  border-radius: 2px;
  margin-right: 120px;
}
.fill22 {
  width: 100px;
  height: 5px;
  background-color: blueviolet;
  border-radius: 2px;
  margin-right: 130px;
}
.fill02 {
  width: 125px;
  height: 5px;
  background-color: blueviolet;
  border-radius: 2px;
  margin-right: 120px;
}
.fill31 {
  width: 30px;
  height: 5px;
  background-color: blueviolet;
  border-radius: 2px;
  margin-right: 120px;
}
.fill32 {
  width: 80px;
  height: 5px;
  background-color: blueviolet;
  border-radius: 2px;
  margin-right: 130px;
}
.fill03 {
  width: 55px;
  height: 5px;
  background-color: blueviolet;
  border-radius: 2px;
  margin-right: 120px;
}
.fill41 {
  width: 40px;
  height: 5px;
  background-color: blueviolet;
  border-radius: 2px;
  margin-right: 120px;
}
.fill42 {
  width: 70px;
  height: 5px;
  background-color: blueviolet;
  border-radius: 2px;
  margin-right: 130px;
}
.p {
  margin-top: 350px;
}

h2 {
  text-align: center;
  /* margin-top: 250px; */
}
